apiVersion: apps/v1
kind: Deployment
metadata:
  name: pedidos
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pedidos
  template:
    metadata:
      labels:
        app: pedidos
    spec:
      containers:
        - name: pedidos
          image: devops-pedidos:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret
